#shuttleBackground {
    background-color: #94c2b3;
    display: inline-block;
    height: 80%;
    width: 40%;
    position: relative;
}

#flightStatus {
    color: #94c2b3;
}

#flightDisplay {
    text-align: center; 
    height: 400px; 
    width: 100%;
}

#spaceShuttleHeight {
    display: inline-block;
}

#rocket {
    position: absolute;
    height: 50px;
    width: 50px;
    /* left: 200px; */
    /* right: 0px; */
    /* top: 270px; */
    /* bottom: 0px; */
    rotate: 0deg; 
}

.center-block {
    text-align: center; 
    display: inline-block;
}

.centered {
    text-align: center;
}
